img{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
}



.container {
    display: flex;
    flex-direction: row; /* Aligne horizontalement */
    flex-wrap: wrap; /* Permet de passer à la ligne */
    gap: 16px; /* Espace entre les blocs */
    justify-content: flex-start; /* Alignement à gauche */
}

.cont {
    background-color: #c20808f6; /* Couleur de fond */
    padding: 20px; /* Espace intérieur */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 8px; /* Coins arrondis */
    width: 200px; /* Largeur de chaque bloc */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de relief */
    font-family: 'AVBold', sans-serif;
}