body {
    margin: 0;
    padding-top: 20px;
}

nav {
    background-color: #1c2942;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left, .nav-right {
    display: flex;
}


.nav-item {
    margin-left: 40px;
    position: relative;

}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    transition: background-color 0.2s;
    font-family: 'AVBold', sans-serif;
    font-weight: bold;

}

.nav-link:hover {
    background-color: #0b162c;
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #3b556d;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px;
    font-family: 'AVBold', sans-serif;
}

.dropdown-menu .dropdown-item {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #1c2942;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .nav-left, .nav-right {
        flex-direction: column;
        align-items: center;
    }
}
